# Git specific
.*
!/.gitignore

# WP Plugin / Theme files
## Plugins
wp-content/plugins/*
!wp-content/plugins/.gitkeep
## Must-use plugins
wp-content/mu-plugins/*/
!
## Upgrades & uploads
wp-content/upgrade
wp-content/uploads/*
!wp-content/uploads/.gitkeep
## Themes
wp-content/themes/

# Composer
vendor/*
!vendor/.gitkeep
